html
{
	color: #414141;
	overflow-y: hidden;
}

header
{
	position: fixed;
	width: 100%;
	top:0;
	z-index: 200;
}
main
{
	margin-top: 180px!important;
}
form
{
	width: 95%;
}

textarea
{
	height: 200px!important;
}
.modal
{
	overflow-x: hidden;
}
section, .view__aside--right
{
	overflow-y: scroll;
	height: 80vh;
}

.signup__title
{
	font-size: 22px;
}
.collapsible li
{
	padding: 15px;
}
.dropdown-content li
{
	padding: 0;
	width: 100%;
}

.dropdown-content li a
{

	font-size: 12px !important;
	text-align: center;
	padding: 5px;
}

.active .dropdown-content li i
{
	margin-right: 5px !important;
	color: #414141;
}

a.dropdown-trigger i
{
	color: #414141!important;

}

.comment
{
	margin-bottom: 30px;
	width: 100%;
	margin: 10px 1
}
.comment p
{
	margin: 22px auto !important;
}
.comment__name, .post__name
{
	font-weight: bold;

}

.comment__date
{
	color: #858585;
	font-size: 13px;
}
label
{
	font-size: 16px;
}
.eye
{
	position: absolute;
	right: -10px;
	font-size: 18px;
}
.exit
{

	margin-left: auto;
	margin-top: 5px;
	border-bottom: 2px solid #cacaca;
}
.exit i
{
	margin-left: auto;
	margin-right: 15px;
}
button
{
	margin: 5% auto;
}
textarea
{
	width: 100%;
}

.thumb
{
	margin-right: 15px;
}

#onlineContainer
{
	padding: 15px;
}
ul#onlineList
{
	left: 15px!important;
}

.modal .containerImg
{
	position: relative;
	max-width: 100px;
}
.modal img
{
	max-width: 100px;
}
.modal .closeImg
{
	position: absolute;
	right: -10px;
	top: -10px;
}
img
{
	width: 100%;
	object-fit: cover;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after
{
	display: none!important;
}
.input-field input:focus
{
	border-bottom: 1px solid #212121!important;
	box-shadow: 0 1px 0 0 #212121 !important;
	position: relative;
	width: 100%;

}
.input-field label
{
	color: #424242;
}
.nav
{
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 12px;
}

.card-footer
{
	padding: 24px;
}

.card-footer__date p
{
	color: #424242;
	margin-top: 0;
	text-align: right;

}

.card-header
{
	padding: 15px;
}

.like-palet
{
	text-align: center;
	margin: 5px auto;
}

.view__center
{
	background-color: #f2f2f2;
}
 .material-icons
 {
 	color: #424242;
 	margin-right: 15px;
 }

.active i, i:hover
{
	color: #FD2D01;
}
.thumb
{
	cursor: pointer;
}
.active .thumb i 
{
	color: #414141;
	font-size: 16px;
}
.navContent
{
	width: auto;
}

.logo
{
	object-fit: cover;
	justify-self: left;
	width: 300px;
	height: 100px;
}



.profil__input
{
	display: flex;
}